@import "tailwindcss";

@theme {
  --color-amber-400: #fbbf24;
  --color-amber-500: #f59e0b;
  --color-amber-600: #d97706;
  --color-purple-900: #581c87;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}
